<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>servletDemo1</servlet-name>
    <servlet-class>com.jian.servlet.ServletDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>com.jian.servlet.RequestDemo1</servlet-class>
    <init-param>
      <param-name>data</param-name>
      <param-value>xxxxx</param-value>
    </init-param>
    <init-param>
      <param-name>data1</param-name>
      <param-value>yyyyy</param-value>
    </init-param>
    <init-param>
      <param-name>data2</param-name>
      <param-value>zzzzz</param-value>
    </init-param>
    <init-param>
      <param-name>data3</param-name>
      <param-value>aaaaa</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/servletDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
</web-app>